[2016-08-08 16:13] ericsaupe opened #14 "1.3 Progress?"
Hey everyone,

I saw 1.2 was certified by Avalara, congrats 🎉! Any update on the 1.3 branch? I see there is one for solidus 1.3 and I was just wondering about an update for when we can start using it in our solidus 1.3 application.

Thanks!

[2016-08-08 17:38] dhonig commented on #14
cc: @acreilly

[2016-08-08 18:44] acreilly commented on #14
Hey, @ericsaupe. Getting there. Although we were certified, Avalara asked for a few extra features to be done on v1.2, once I complete those I will get them into v1.3 and test. I should have v1.3 complete by the end of this week.

[2016-08-10 22:09] acreilly commented on #14
Here you go @ericsaupe ! https://github.com/boomerdigital/solidus_avatax_certified/tree/v1.3

[2016-08-10 22:09] #14 closed

[2016-08-16 20:59] ericsaupe opened #19 "Javascript not formatted correctly"
We tried to deploy using the installed javascript to our production servers and got `V8::Error: SyntaxError: Unexpected token: operator (>)` when we tried to compile the assets. After removing the solidus_avatax_certified javascript from our project all was well again. I ran some of the JS files through jslint.com and it came up with a number of errors. Looks to only be a problem on Ubuntu since o

[2016-08-16 21:01] ericsaupe opened #20 "Can't edit credentials in Admin without an Address"
After running the `PreferenceSeeder` I tried to edit credentials in the Spree Admin but was met with a 500. I had to run `Spree::AvalaraPreference.origin_address.update(value: {"Country": "US", "Region": "UT"}.to_json)` to get there.

[2016-08-16 21:17] acreilly commented on #20
I'm not running into this error, can you post the logs?

[2016-08-16 21:50] acreilly commented on #19
Hm, ok. I ran the JS files through JSLint and made the changes I could. Maybe this will fix your issue?
https://github.com/boomerdigital/solidus_avatax_certified/pull/23

[2016-08-16 22:47] ericsaupe commented on #19
It may, only way is to try a deploy again. I'll try it tomorrow

[2016-08-17 16:00] ericsaupe commented on #19
It didn't seem to fix it. Same error.

[2016-08-17 16:01] ericsaupe commented on #20
I think how I did it was to run `PreferenceSeeder` without any environment variables which sets `origin_address - {}`. Then in the view for the edit settings it tries to access a key in that hash that doesn't exist and throws the error.

[2016-08-17 18:56] acreilly commented on #20
Ah, ok. I see what you mean. Here: https://github.com/boomerdigital/solidus_avatax_certified/pull/24

[2016-08-17 21:07] acreilly commented on #19
Double checking, did you checkout to that branch? I didn't merge it yet

[2016-08-17 21:37] acreilly commented on #19
Got it! Take a look at PR #23 again

[2016-08-22 14:43] #20 closed

[2016-08-23 15:20] ericsaupe opened #29 "Solidus 2.0 and Rails 5"
The Solidus core team is updating all of their core gems because Solidus 2.0 with support for Rails 5 is on the horizon. In addition to that they have a pre-release for 1.4. Are you guys going to support these versions as well?

[2016-08-23 19:28] acreilly commented on #29
Yes. I haven't been following the updates, but just give me a heads up when a new stable version comes out and I'll get working on it.

[2016-08-23 19:31] ericsaupe commented on #29
The beta is out now and they are already updating their gems to be compatible.

https://github.com/solidusio/solidus/releases

https://github.com/solidusio/solidus_auth_devise/pull/72
https://github.com/solidusio/solidus_braintree/pull/51

[2016-09-12 20:47] ericsaupe opened #31 "Remove prev_tax return if state check"
On this line here https://github.com/boomerdigital/solidus_avatax_certified/blob/master/app/models/spree/calculator/avalara_transaction.rb#L17 you are checking if the order is in the address or the cart state. But solidus computes taxes on transitions from the address step. This is causing issues in the admin where the taxes are not getting calculated until _after_ a payment is added.

Is there an

[2016-09-13 21:44] mdamian322 opened #33 "AvataxLog doesn't have an error method"
When trying to process a return and I click "Refund," I get this error:
`NoMethodError in Spree::Admin::RefundsController#create
undefined method 'error' for #<SolidusAvataxCertified::AvataxLog:0x0056501a48dd78>`

[2016-09-14 14:12] acreilly commented on #31
Taxes are being calculated before a payment has been captured, taxes are not being committed until a payment has been captured. This is because once a payment is captured, you cannot adjust the order, tax will not recalculate, it will cause errors.

The reason why we have that line is to wait to hit the api until we have all the necessary information. Each API call costs and we have had complaints

[2016-09-14 14:29] acreilly commented on #19
@ericsaupe Did this solve your issue?

[2016-09-14 15:46] ericsaupe commented on #31
We are still seeing an issue where creating an order using the admin interface causes the payment created to have the incorrect amount. What is the fix for that then?

[2016-09-14 18:24] acreilly commented on #31
Hm, interesting. Haven't tested it that way. I am open to suggestions on that. Maybe have a button to click under the adjustments tab called calculate tax?

[2016-09-15 05:56] ericsaupe commented on #31
I think we may have solved this another way by transitioning the order from the delivery to the payment step when the admin user clicks payment.

[2016-09-28 17:48] #31 closed

[2016-09-28 17:49] ericsaupe commented on #29
@acreilly they have released 1.4 and 2.0

[2016-09-28 17:51] ericsaupe opened #35 "Single Version"
The Solidus extensions have one version that works across all versions of Solidus. This would clean up the many branches and make the project easier to manage. Examples: https://github.com/solidusio/solidus_braintree, https://github.com/solidusio/solidus_gateway.

View of all extensions and compatability with the current version of each gem http://extensions.solidus.io/

[2016-09-28 21:23] acreilly commented on #29
Ah, I was not aware of 1.4. There is a v2.0 branch

[2016-09-28 21:26] #33 closed

[2016-09-28 21:48] ericsaupe commented on #29
1.4 is the same as 2.0 but relies on Rails 4.2

[2016-09-29 14:07] #19 closed

[2016-10-11 00:29] skukx commented on #29
@acreilly The v2.0 branch currently relies on solidus 2.0.0.rc1.  The solidus version should be updated to rely on solidus 2.0.0

[2016-10-11 13:43] acreilly commented on #29
Our v2.0 version is actually not complete. Will let you know when it is.

[2016-10-11 15:36] acreilly commented on #35
https://github.com/boomerdigital/solidus_avatax_certified/pull/36

[2016-10-11 15:36] acreilly commented on #29
https://github.com/boomerdigital/solidus_avatax_certified/pull/36
@ericsaupe @mtomov @skukx Would you mind reviewing?

[2016-10-17 21:00] acreilly commented on #29
On master

[2016-10-17 21:00] #29 closed

[2016-10-17 21:03] acreilly commented on #35
On master

[2016-10-17 21:03] #35 closed

[2017-02-17 19:02] ericsaupe opened #43 "Previous Tax Amount when recalculated to 0"
Why is `prev_tax_amount` returned if the `avalara_response[:TotalTax]` is 0? Shouldn't it respect that new calculation?

The use case we have is we get to the payment step, taxes are calculated.
A promotion is applied, making the promo total the price of the item, and taxes are recalculated.
The recalculated tax is 0 but it instead keeps the old tax amount calculated previously.

[2017-02-20 22:45] acreilly commented on #43
Good point, I will get to that this week.

[2017-02-21 17:17] acreilly commented on #43
Ah, the reason why we did this was in the case that it errors out. At the moment, if there is an error with tax calculation, it returns 0.00. Do you have a suggestion on what to do in case on an error?

This has been something I have been meaning to get to but need opinions from others on how to handle the situation. Do we prevent the user from being able to check out? Do we use the previous amoun

[2017-02-21 17:54] ericsaupe commented on #43
Doesn't the response come back with some sort of `error` key? Is there another way, other than the 0.00 return, to see that the response was an error?

[2017-02-21 18:03] acreilly commented on #43
I think that was the original developers idea. https://github.com/boomerdigital/solidus_avatax_certified/blob/master/app/models/spree/avalara_transaction.rb#L101
There is a more detailed error message beforehand: https://github.com/boomerdigital/solidus_avatax_certified/blob/master/app/models/tax_svc.rb#L18

[2017-02-21 19:25] acreilly commented on #43
https://github.com/boomerdigital/solidus_avatax_certified/pull/44

[2017-02-21 19:25] #43 closed

[2017-03-27 17:23] thejbsmith opened #50 "Previous Versions No Longer Available"
I've been developing a site using Solidus 1.4.1, which was also using the solidus_avatax_certified gem on the same branch. Today I made a PR and noticed that my Travis build failed. It failed when trying to do a git reset on the cache for solidus_avatax_certified.

Taking a closer look at the repo, it appears that the branches for previous versions have been removed, even though the wiki states to

[2017-03-27 18:56] acreilly commented on #50
All solidus versions <= 2.0 work with master. I would suggest setting up in your Gemfile to use the master branch of this gem.

[2017-03-27 18:59] thejbsmith commented on #50
@acreilly, thanks for the reply.

What happens when master changes though? Without a way to clearly distinguish a version that we know will not change or be removed, it leaves that app brittle.

For now we have forked the repo in order for us to have something that we can control.

Are there any plans on releasing this through RubyGems? Or is it going to be left as is?

[2017-03-27 19:47] acreilly commented on #50
Master is stable so I just released master to rubygems. I set the version to 1.0.0. https://rubygems.org/gems/solidus_avatax_certified

Hope that helps

[2017-03-27 20:02] thejbsmith commented on #50
Awesome! Thanks!

[2017-03-27 20:02] #50 closed

[2017-03-27 20:45] dhonig commented on #50
@thejbsmith feel free to send us feedback.  We're here to help, but don't always know what folks need!

[2017-03-28 18:47] thejbsmith commented on #50
@dhonig, will do. Getting this into RubyGems was great, and all I needed. @acreilly was great responding to my issue, and getting it up on RubyGems within a few hours of me asking.

[2017-03-31 19:47] skukx opened #51 "Multiple Payments"
https://github.com/boomerdigital/solidus_avatax_certified/blob/7626631802a5550d09b29e42c5f8f3ba52fdef65/app/models/spree/payment_decorator.rb#L17

When there are multiple payments on an order (Credit Card, Gift Card). This line will mess up checkout by changing the actual amount on the payment, to the order total.
For example:
Order total is $19

1st Payment is $10 (gift card)
2nd Payment is $9 (c

[2017-04-03 23:19] skukx opened #53 "Errors Being Ignored"
Errors returned from Avatax are being ignored.

See: https://github.com/boomerdigital/solidus_avatax_certified/blob/master/app/models/tax_svc.rb#L23
See: https://github.com/boomerdigital/solidus_avatax_certified/blob/master/app/models/spree/avalara_transaction.rb#L101

This isn't very good practice to swipe errors under the rug. At the least the logger should use `warn` instead of `debug` and `inf

[2017-04-04 14:39] dhonig commented on #53
I'm not a fan of errors being ignored.   I think different stores may want to handle this differently.  Is @skukx what do you think the idea of having a setting "propagate_errors" in the configuration.
 For those who wish to trap the error further up and handle it this would enable it.

[2017-04-04 15:03] skukx commented on #53
@dhonig I think that is good, what if an application could register a callback?

[code]

[2017-04-04 15:24] dhonig commented on #53
@skukx I like the callback idea.  Let's do it.   As for high availability, we shouldn't pass over this one too quickly, but I agree that I don't think we have it dialed in yet.....We should consult with Avalara directly and implement failover patterns as to their recommendation...Which as far as  I remember is not too different from what you suggested.   I know of at least one store that does this

[2017-04-04 15:40] skukx commented on #53
Yeah, that sounds great

[2017-04-11 22:13] ericsaupe opened #54 "Support for :short_ship_notifier"
Solidus has a hook that allows third-party tax services to be updated when an item is cancelled. Does `solidus_avatax_certified` hook into this?

[2017-04-11 22:42] dhonig commented on #54
Not sure we do....We'll get back to you shortly on this.

[2017-04-12 20:46] acreilly commented on #54
Currently, we have it where if the whole order is canceled, a cancel tax request is sent.

In order to support item cancellation tax updates, we will need to integrate the SOAP api. I plan to add that to my to do list.

[2017-04-13 16:20] ericsaupe commented on #54
Avatax released a V2 of their API which is more restful.

[2017-04-13 16:25] dhonig commented on #54
Can you quickly summarize how this impacts the business? Then we can see if this is an appropriate change for all stores or provide guidance in the documentation for custom implementation if it is not something that should be global.

[2017-04-13 16:26] ericsaupe commented on #54
I'm unsure how much it impacts the business because I haven't dived into it too deeply but it does seem to be easier to work with as opposed to the V1 SOAP-type implementation

[2017-04-13 16:31] dhonig commented on #54
We need to have some understanding of line item records vs the order as a whole before implementing this change.   Probably we can interview a few customers such as yourself, and others to build up the right context for implementing this.   Then we can decide if it is something that should be left as custom or an option that is configurable.   REST is indeed much easier to work with in Ruby than S

[2017-04-13 16:55] jasonfb commented on #54
From my understanding of Avatax (not necessarily this gem), you basically have a process that looks like this:

(1) A tax transaction is created in uncommitted state
(2) When the order is completed, a tax transaction is then **committed**

Between 1 and 2, you can change the transaction. After you commit the transaction, you then need to issue tax refund transaction against the original tax transa

[2017-04-13 19:11] acreilly opened #58 "Avatax REST API V2"
Upgrade gem to utilize Avatax's V2 API.
https://developer.avalara.com/avatax/api-reference/tax/v2/

*V2 API allows adjustments after commit.

[2017-04-14 21:06] acreilly commented on #53
I set up basic error handling for API responses with a ResultCode that is not 'Success', please review: https://github.com/boomerdigital/solidus_avatax_certified/pull/59/files

[2017-04-14 22:09] skukx commented on #58
@acreilly Would you be interested in collaborating on a client for this. This gem would then require the client gem and use it to make the requests.

This would help separate Solidus logic with Avatax logic.  If not no biggie.  I started on an [avatax client](https://github.com/skukx/avatax) about a week ago.  I want to make a few changes such as getting rid of the class variables `@@` and replaci

[2017-04-14 22:11] skukx commented on #53
I'll look at it as soon as I get chance, Thanks!

![bitmoji](https://render.bitstrips.com/v2/cpanel/7933842-228647270_8-s1-v1.png?transparent=1&palette=1&width=246)

[2017-04-21 16:53] acreilly commented on #51
https://github.com/boomerdigital/solidus_avatax_certified/pull/60

[2017-04-21 16:59] acreilly commented on #54
@jasonfb Currently we have it where it comments when a payment is captured, not when the order is completed. I think that makes sense since capturing a payment usually means that you are not going to be making any more changes to the order. What do you think?

[2017-04-24 14:16] acreilly commented on #58
Sounds like a good idea. I will have to fork the client gem though. My concern is that once we have it set up here, if someone makes a change to the client gem and I am unaware, it can affect this one.

[2017-04-24 21:53] jasonfb commented on #54
@acreilly -- Yes you are correct, I hadn't read the code that carefully. I see the indeed the ```avalara_finalize``` method on the Payment object is on the before_transition to complete, which is exactly the same moment that we ship the goods, so this is in fact already committing-upon-shipping as I had hoped/dreamed would be the case.

In that case, a short-shipment solution would only need to ad

[2017-04-24 23:25] ericsaupe commented on #54
Solidus supports Auto-capture on completion of the order (what our store does). Since the FTC gives a 30-day window to actual ship/fulfill the order. This is the window of time where we could possibly have a cancellation on an item including backordered items that we later find out will not be fulfilled in time.

[2017-04-25 12:19] jasonfb commented on #54
@ericsaupe -- if you do auto-capture, then you can't build it the way I've suggested above. You must issue refunds (to the customer) and tax refund transactions (which are like reverse tax transactions that go back to the gov't), because in that scenario you must treat the 'giving back' of money as a new ledger-able transactions (from an accounting perspective).

While auto-capture is 'allowed', m

[2017-04-25 20:21] acreilly commented on #54
The REST V2 API has the ability to adjust tax after document commit, which will solve all the issues listed above. We are currently working on integrating the V2 API into this gem, but it will take some time.

[2017-04-27 22:06] skukx opened #63 "Support Solidus 2.1"
No support for solidus 2.1 yet
https://github.com/boomerdigital/solidus_avatax_certified/blob/master/solidus_avatax_certified.gemspec#L21

[2017-04-27 22:09] acreilly commented on #63
Since there are too many differences when it comes to tax on 2.1, it needs to be on its own branch.
https://github.com/boomerdigital/solidus_avatax_certified/tree/v2.1

[2017-04-27 22:09] #63 closed

[2017-04-27 22:15] skukx commented on #63
Is the `v2.1` branch stable?

[2017-04-27 22:25] acreilly commented on #63
Yup!

[2017-05-01 18:56] ericsaupe opened #64 "response object is nil in address validation"
If there is a problem with the request object in address validation the request object is nil and is still trying to be used later on. https://github.com/boomerdigital/solidus_avatax_certified/blob/master/app/models/tax_svc.rb#L68

[2017-05-02 15:49] acreilly commented on #64
Could you send me your logs displaying this error?

[2017-05-02 16:35] acreilly commented on #64
Also, what kind of problem in the request? I just set up a request with an address missing Line1 and PostalCode, it returns as expected.

[2017-05-03 15:07] acreilly opened #65 "Preferences"
Awhile back I was told that Solidus was looking into removing Spree::Preferences in the future, that is why I created Spree::AvalaraPreference. I was misinformed and they will not be removing it.

I would like to go back to using Spree::Preferences rather than holding them in the database.

[2017-05-03 18:17] ericsaupe commented on #65
We would like this as well!

[2017-05-03 20:54] acreilly commented on #51
@skukx Is this issue been taken care of?

[2017-05-03 20:59] skukx commented on #51
Yes I believe so

[2017-05-03 20:59] #51 closed

[2017-05-03 21:16] acreilly opened #66 "Universal Branch"
I like how Solidus gems have the master branch work for all versions. In Solidus v2.1, there were some significant changes to tax, where the only way I could think of making it work was to either bring over all that new code, or just put v2.1 on a new branch.

v2.2 just came out and it appears that it will work fine on the v2.1 branch, but I wanted opinions on how I should handle this, maybe find

[2017-05-03 21:31] skukx commented on #66
I really like how solidus_paypal_braintree has been setup
https://github.com/solidusio/solidus_paypal_braintree/blob/master/Gemfile

[2017-05-03 21:39] acreilly commented on #66
The Gemfile here is very similar: https://github.com/boomerdigital/solidus_avatax_certified/blob/master/Gemfile

The changes are within the solidus code, like the tax helpers that are used now, order adjuster etc
https://github.com/boomerdigital/solidus_avatax_certified/compare/v2.1

[2017-05-03 21:45] acreilly commented on #66
BTW that compare isn't accurate.. not sure why it is comparing to an older version of master. But you can see some of the differences

[2017-05-03 22:00] skukx commented on #66
I guess it would be nice to be able to see what solidus versions are compatible with each release

[2017-05-04 16:05] ericsaupe commented on #66
Spree used to do that with version branches. Solidus seems to prefer extensions to work universally.

[2017-05-04 16:20] acreilly commented on #66
I prefer the extensions to work universally because it is MUCH easier to maintain. My concern with v2.1 and up is that the changes are significant enough, in order for me to do that I would have to bring over decent amount of code from solidus.

Are there any ideas on easy ways to do this without overriding too much code?

[2017-05-05 15:30] skukx commented on #66
I think the best way to stay universal is to have releases (Tags).  Keep a change log over each release which specifies the solidus versions it is compatible with as well as any other changes.  This way, users can choose the release based on their solidus version. They can choose to upgrade to a new release, or stay on their current release.

[2017-05-05 15:52] ericsaupe commented on #66
That way people can lock versions in their Gemfiles for specific releases.

[2017-05-09 20:44] acreilly commented on #65
@ericsaupe Could you review? https://github.com/boomerdigital/solidus_avatax_certified/pull/67

[2017-05-12 14:26] jasonfb commented on #66
I would recommend tagging with versions that are either matching Solidus versions or in lock-step with Solidus versions. (by lock-step, I mean, say if this gem's version 3 works for Solidus 1.2-1.4, but then you need to bump to version 4 for Solidus v 2.0, and again to version 5 for Solidus 2.1, etc)

A simple chart on the README (front page) could make it easy to figure out which tag of the gem y

[2017-05-12 18:22] acreilly commented on #64
@ericsaupe Is this still an issue?

[2017-05-15 14:36] ericsaupe commented on #64
I don't think we've seen it since we first saw the error occur. It is still a possibility simply due to how it is written. If the block above is rescued the `request` variable will be `nil` making the line I linked cause the error. So the exact circumstances to recreate the error I'm not sure about but it would simply be whatever makes the `rescue` trigger.

[2017-05-23 09:48] #65 closed

[2017-05-23 09:48] #64 closed

[2017-05-25 14:32] ericsaupe commented on #66
Based on jhawthorn's talk at SolidusConf it seems like this is the proper way to test them against all supported versions of Solidus. Obviously changing to only test against versions we really care about:
https://github.com/solidusio/solidus_auth_devise/blob/master/.travis.yml
https://github.com/solidusio/solidus_auth_devise/blob/master/Gemfile#L3-L4

I don't think it's a bad idea to have a single

[2017-05-25 14:48] acreilly commented on #66
That is how it was until v2.1. I would love to be able to just have one branch, but the changes from v2.1 are different enough where it makes it incompatible with the older versions. It may be possible to check the version on the changes... but I feel like it would appear hacky.

[2017-05-25 14:49] ericsaupe commented on #66
Maybe going forward that is all that is supported by the single release then, 2.1+ because of the major changes to taxes. I'd be cool with that.

[2017-05-25 14:52] acreilly commented on #66
Yeah, that would be nice but if you see solidus 2.3, the changes for taxes are large again. https://github.com/solidusio/solidus/pull/1851/files

[2017-05-25 14:53] ericsaupe commented on #66
🤦‍♂️ OK, maybe it just won't work since they keep making so many changes to taxes

[2017-05-30 16:15] acreilly commented on #66
For Solidus 2.3, it will definitely need to be on a separate branch.

I would love to be able to get 2.2 an below all on one branch though. I am still brainstorming ideas on how to go about this.

One idea would be to check the current solidus version, and if it is 2.0 or lower, do not load in SolidusAvataxCertified::OrderAdjuster file. Do you think that is possible? There would be a few other twe

[2017-06-26 19:15] acreilly opened #75 "Adjust Locked Transaction Error"
From what i understand, it is common for avatax users to lock their committed transactions after a set time period. I am trying to figure out what is the best way to go about catching a locked transaction error, having it display the error on the admin order interface, and not allowing the user to be able to adjust the order contents.

@skukx @ericsaupe

Locked Transaction Error Message:
`{
"error

[2017-07-05 21:53] skukx opened #76 "Error in #tax_included_in_price?"
https://github.com/boomerdigital/solidus_avatax_certified/blob/29f9eb62c94e7554c0d61e687d725b1e57eeadc9/app/models/solidus_avatax_certified/line.rb#L138

[code]

Should be changed to

[code]

It is possible for the `try` to fail resulting in a `nil` object which will cause an error when trying to call the method `included_in_price`

[2017-07-06 20:43] thejbsmith opened #77 "Updating preferences only updates them on the current server"
When updating the preferences, the changes are saved to the database and the `Spree::Avatax::Config` options are updated. If this is in an environment where there are multiple servers running the application, only the server that actually updated the options has the config updated. The other servers only load config options on initialize, so they do not receive the updates until the servers are re

[2017-07-11 03:00] acreilly commented on #76
I should have this change up by the beginning of next week.

[2017-07-11 03:01] acreilly commented on #77
@dhonig @skukx @ericsaupe Any thoughts on this issue?

[2017-07-31 20:31] acreilly commented on #76
Sorry, things got busy but this is now complete.

[2017-07-31 20:31] #76 closed

[2017-07-31 20:33] #58 closed

[2017-11-27 15:43] acreilly opened #81 "Capybara::Poltergeist::JavascriptError (TypeError: undefined is not a function)"
Master branch is failing due to poltergeist errors. I updated the version but the errors still occur. Need some guidance.

`Capybara::Poltergeist::JavascriptError:
       One or more errors were raised in the Javascript code on the page. If you don't care about these errors, you can ignore them by setting js_errors: false in your Poltergeist configuration (see documentation for details).
       Ty

[2017-12-01 01:17] isaacfreeman opened #82 "Ruby 2.3 syntax"
In the v1.0-v2.0 branch, the gemspec specifies Ruby version >=2.1.

However, app/models/solidus_avatax_certified/line.rb uses the safe navigation operator &. that was introduced in Ruby 2.3.
https://github.com/boomerdigital/solidus_avatax_certified/blob/v1.0-v2.0/app/models/solidus_avatax_certified/line.rb#L159

Possible solutions:
1. Replace the `&.` with a `try(...)`
2. Bump up the required Ruby

[2017-12-01 12:53] dhonig commented on #82
Thanks Isaac.   I'd say that the simplest thing is to bump up the gem version, but perhaps may clients of this gem aren't ready to make that leap?  Do you want to send us a PR for the try version?   I think it will serve the community better to go with option 1 ( though I like option 2 better)

[2018-01-04 17:49] skukx opened #89 "Solidus 2.4 Support"
Does the `master` or `v2.3` branch work with Solidus 2.4?

[2018-01-04 17:51] acreilly commented on #89
Master works with 2.4. I need to update that on the README.

[2018-01-04 17:51] #89 closed

[2018-04-25 14:36] prwhitehead opened #94 "Sandbox documentation warning"
I'm new to Avatax and did not understand from your documentation (or the Avatax developer docs) that a seperate sandbox account is required before the gem will work in development. Adding a line at the top of the setup wiki would potentially save another developer from spending an entire morning trying to understand what is going on as they build their knowledge of the service and your gem.

Thank

[2018-04-26 08:01] prwhitehead opened #95 "All Preferences lost when server restarts"
I'd very much like to use the gem for a site already in production, however all preferences are lost when the server restarts, address, countries, boolean values.

    solidus (2.4.2)
      solidus_api (= 2.4.2)
      solidus_backend (= 2.4.2)
      solidus_core (= 2.4.2)
      solidus_frontend (= 2.4.2)
      solidus_sample (= 2.4.2)

    solidus_avatax_certified (3.1.0)
     avatax-ruby
     jso

[2018-04-26 09:56] prwhitehead opened #96 "avalara_response[:totalTax] is always nil"
The conditional `return 0 if avalara_response[:totalTax] == 0.0`, but not as intended, as `avalara_response[:totalTax]` always returns `nil` because it will not be found in the hash.

Should be...

    module Spree
      class Calculator::AvalaraTransaction < Calculator::DefaultTax
        # ...

        def tax_for_item(item, avalara_response)
          prev_tax_amount = prev_tax_amount(item)

[2018-04-26 17:07] acreilly commented on #96
@prwhitehead Which branch are you working off of?

The reasoning behind this is because if either tax calculation or document committing are set to false:
https://github.com/boomerdigital/solidus_avatax_certified/blob/master/app/models/spree/avalara_transaction.rb#L21

Or if an error arises:
https://github.com/boomerdigital/solidus_avatax_certified/blob/master/app/models/spree/avalara_transaction.

[2018-04-26 17:12] acreilly commented on #94
Sure thing! You can use your production credentials, but you will be charged per document commit.
https://github.com/boomerdigital/solidus_avatax_certified/wiki

[2018-04-26 17:12] #94 closed

[2018-04-26 17:56] dhonig commented on #96
@jasonfb @acreilly  maybe check for this condition and set a sensible default?

[2018-04-27 09:07] prwhitehead commented on #94
Thanks for replying.

I think the issue I had was that `:production` and `:sandbox` environment states were hard coded depending on the Rails env. This means I had to go into the gem and comment out code in order to use the production account and make the gem work. If you allowed the environment to be set from an initializer it could make the entire process a lot simpler. :)

[2018-04-27 09:09] prwhitehead commented on #96
@acreilly sorry I dont think I explained as well as I could. The hash is not set `with_indifferent_access`, so `avalara_response[:totalTax]` will always return `nil` as the key is `(string) "totalTax" ` not `(symbol) :totalTax`.

[2018-04-27 09:35] prwhitehead opened #97 "Incorrect country title"
The default set for "address_validation_enabled_countries" option uses "United States", but Solidus uses "United States of America"

https://github.com/boomerdigital/solidus_avatax_certified/blob/master/app/models/spree/avatax_configuration.rb#L8

So the the option not selected in the control panel.

[2018-05-01 12:42] askl56 commented on #95
@prwhitehead In the meantime did you find a way of using this in production?

[2018-05-14 15:16] prwhitehead commented on #95
Hello,

I have the following in my ENV file - the values have been removed for security:

# Avatax Tax information
AVATAX_ACCOUNT=
AVATAX_LICENSE_KEY=
AVATAX_COMPANY_CODE=

Am I missing anything?

[2018-05-15 14:52] acreilly commented on #95
Nope, that is it. If you look in the gem's config/initializers you will see a file called avatax.rb. This is where the env is set. Looks like this:

`
Spree::Avatax::Config.account = ENV['AVATAX_ACCOUNT'] if ENV['AVATAX_ACCOUNT']
Spree::Avatax::Config.license_key = ENV['AVATAX_LICENSE_KEY'] if ENV['AVATAX_LICENSE_KEY']
Spree::Avatax::Config.company_code = ENV['AVATAX_COMPANY_CODE'] if ENV['AVATAX_

[2018-05-15 14:54] prwhitehead commented on #95
Thank you for confirming.

So it works for the most part, however I cannot change any settings or restart my ruby server or the values not stored in the ENV file will be lost.

[2018-06-29 19:08] askl56 commented on #95
@acreilly Why is there not a fallback to set this stuff in `secrets.yml` or something?

[2018-07-09 21:38] skukx commented on #95
@prwhitehead If you are working in development and make a change, anything in the `/initializers` folder will not be reloaded. This could be the cause of preferences not appearing. This won't happen in production.

[2018-07-18 18:47] skukx commented on #95
This doesn't sound like an issue with the gem then.  Are you sure your environment variables are being loaded when rails is started?

[2018-07-18 18:54] prwhitehead commented on #95
There is admin panel, where the details you enter are not propagated to the database but instead stored in memory, so when a deployment is performed (restarting the server process), or in development when the server is restarted, the details from the admin control panel are lost and need to be reentered.

[2018-07-18 18:58] dhonig commented on #95
@prwhitehead  that sounds like a misunderstanding.  I think the reason is that they we have moved to support 12Factor.    Storing keys in the database was an old pattern with Spree that has fallen out of favor over time. Can you set the keys in the environment and let us know if that resolves the issue.   The fact you have to re-enter these in production means this isn't a viable production deploy

[2018-07-18 19:07] prwhitehead commented on #95
Once again I’d like to state how grateful I am for the work done creating this gem, it saved me a lot of time.

The issue I had using it was there are no docs apart from the wiki and the wiki Setup Requirments only references the admin panel and how to setup the gem using it. There is no mention of the environment variables, nor that the admin panel is obsolete.

As someone with zero knowledge reg

[2018-07-18 19:11] dhonig commented on #95
Appreciated. Its been a few years/evolutions in the making.  Sounds like we should file a github issue to ammend the wiki and make sure instructions are provided to save others from falling into the pitfall?

[2018-07-18 19:17] skukx commented on #95
@dhonig Since environment configuration has become the standard. Is there a need for an admin panel anymore? Or possibly keep the admin panel but mark all fields as readonly to avoid confusion?

[2018-07-18 19:19] dhonig commented on #95
@skukx  whatever we think is more straightforward.  To me that would be removing the fields and updating the documentation as part of the release.

[2018-09-27 20:56] joshhepworth opened #102 "Discounts on `Spree::Shipment` cause `NoLinesDiscounted` Response, Failing Tax Calculation"
When using a `Spree::Promotion` that contains the "Make all shipments free" action that automatically applies to orders that meet the Rules, it causes the following error response to be logged and no tax to be applied to the order. This might be limited to orders that contain no other discounts.

[code]

Here's the corresponding request hash:

[code]

I noticed that in the request hash there is a

[2018-10-10 17:12] joshua-honig opened #106 "Taxes no longer calculated (most of the time) after upgrading to Solidus 2.6 + solidus_avatax_certified 3.0.0"
I apologize for the vagueness of this, but that's essentially problem: I can't figure out why something *isn't* happening.

We have an existing production site current running Solidus 1.4 with `solidus_avatax_certified` v1.1.0. Taxes are recalculated at all the expected times, provided an address is on the order:

 - Whenever an item is added or removed
 - Whenever discounts are applied or removed

[2018-12-04 16:59] joshhepworth opened #107 "Shipment Discounts Double Counted in Solidus 2.4"
We're seeing this issue in Solidus 2.4, but it may exist in other versions as well.

## Reproduction Steps

1. Configure a flat rate shipping rate for any number larger than $0.
2. Add a promotion that automatically applies and makes all shipments on an order free.
3. Place an order.
4. The tax will be calculated as if the subtotal is: `(subtotal) + (shipment cost - discounts) - (all discounts, in

[2018-12-17 15:37] joshhepworth commented on #107
Is there anything else I can provide to assist in resolving this issue?

[2019-01-02 11:03] BravoSimone opened #108 "VCR cassettes not up to date"
I'm trying to refresh this gem's cassettes locally (using our customer's account), in the response I always get `"nonTaxable":20.0` and I can't get a taxable amount greater than zero. I'm using the same avatax account successfully in the development environment.

Also, what do you think about using VCR's [filter_sensitive_data](https://relishapp.com/vcr/vcr/v/3-0-3/docs/configuration/filter-sensit

[2019-01-02 11:58] BravoSimone commented on #108
After some research, it looks like Alabama is almost tax-free. Using a shipping address from New York I can get a tax greater than zero. I'm opening a PR to fix all the points listed above.

[2019-01-07 19:13] joshhepworth commented on #107
Is this an issue that we can expect to be addressed in an update?

[2019-01-07 19:15] dhonig commented on #107
We have a big push this week on a release but should be able to put in some
maintenance cycles soon.

On Mon, Jan 7, 2019 at 2:13 PM Josh Hepworth <notifications@github.com>
wrote:

[2019-02-06 13:12] #66 closed

[2019-02-07 13:44] aserafin commented on #106
@joshua-honig did you figure out the root cause? I'm seeing similar issues with tax calculation not being triggered in some situations and working fine in others

[2019-02-19 17:19] HuckThom commented on #107
@dhonig @acreilly @jmamap1 - Are there any updates here? Thanks!

[2019-03-19 19:00] acreilly commented on #108
Updated VCR cassettes here: https://github.com/boomerdigital/solidus_avatax_certified/pull/111

[2019-03-19 19:00] #108 closed

[2019-03-19 19:00] acreilly commented on #107
Thank you, the update has been fixed here: https://github.com/boomerdigital/solidus_avatax_certified/pull/111

[2019-03-19 19:00] #107 closed

[2019-03-19 19:01] #53 closed

[2019-03-19 19:01] acreilly commented on #75
Not an issue anymore.

[2019-03-19 19:01] #75 closed

[2019-03-20 14:40] acreilly commented on #97
[code]

[2019-03-20 14:40] #97 closed

[2019-03-20 14:41] acreilly commented on #97
Older versions did, but it has been a serveral versions since the change.

[2019-03-20 14:42] #82 closed

[2019-03-20 14:46] acreilly commented on #95
https://github.com/boomerdigital/solidus_avatax_certified/wiki

[2019-03-20 14:46] #95 closed

[2019-03-20 15:24] aldesantis opened #112 "Discount doesn't take manual adjustments into account"
`SolidusAvataxCertified::Request::GetTax` does not seem to be taking manual adjustments into account when sending the `discount` property:
[code]
This means that creating an adjustment via the backend to grant the customer a discount will not have any effect on sales tax calculation, which doesn't seem right.

Is this a bug or are we doing something wrong?

[2019-03-21 16:47] acreilly commented on #96
https://github.com/boomerdigital/solidus_avatax_certified/pull/113

[2019-03-21 16:47] #96 closed

[2019-04-18 13:19] aldesantis opened #118 "Merge setup.md and readme.md?"
Is there a reason for these two to be separated or can we merge them together? It seems like readme.md is a much better place to describe setup instructions.

[2019-04-18 14:19] dhonig commented on #118
@aldesantis  thanks for your contributions here.  I think the reason we have it in the wiki is the size of the content and our desire to provide detailed screenshots.  I suppose it comes down to a matter of opinion but I think the README.md should provide the general overview and then child pages can provide deeper information.  So I'm in favor of keeping it the way it is.

[2019-04-23 09:28] #112 closed

[2019-04-24 22:43] acreilly commented on #118
https://github.com/boomerdigital/solidus_avatax_certified/pull/119

[2019-04-24 22:43] #118 closed

[2019-05-08 13:35] aldesantis opened #121 "Test mode"
It would be useful to have a test mode that returns dummy taxes and dummy results for address validations.

[2019-05-08 14:06] aldesantis opened #122 "Make environment configurable w/o environment variable"
Users should be able to do this, without having to set the `AVATAX_ENVIRONMENT` environment variable:
[code]
This allows people to use other sources for configuration (e.g. `settings.yml`/`secrets.yml`).

This can be easily accomplished by adding `preference :environment, :boolean, default: ENV['AVATAX_ENVIRONMENT']` and removing `.environment` from `Spree::AvataxConfiguration`. This also maintain

[2019-05-08 14:11] aldesantis opened #123 "Remove preferences form"
Preferences are not stored in the DB anymore, but the admin panel still provides a form for people to edit preferences that doesn't really do anything.

[2019-06-10 15:34] ericsaupe opened #126 "Bad requests are being swallowed"
https://github.com/boomerdigital/solidus_avatax_certified/blob/master/app/models/spree/avalara_transaction.rb#L63

If the response is bad there is no way of knowing that anything went wrong. I think returning the `0` taxes is a good move for the user but makes debugging and fixing issues difficult for the developer.

[2019-06-10 15:41] ericsaupe opened #127 "Limit itemCode to 50 characters"
While investigating an issue with our tax responses coming back as bad we received this in the response. We should limit the `itemCode` field to 50 characters as requested. We should also look into any other fields that have limits.

[code]

[2019-06-10 15:47] dhonig commented on #126
@ericsaupe  yes....This one bothers me.   Yet I think its hard to think of a good fallback strategy that suits everyone.  Do you have any reccomendations for what the service should do?  Maybe just write the error to the logs?  In production you might wish to calculating a sensible default, consult a tax table for certain states or in fact return 0 and eat the tax rather than lose the sale.  Inter

[2019-06-10 15:50] dhonig commented on #127
Interesting to know what field you used that was longer than 50 chars?   Is it safe to limit this to substr(0,49) or do we need to do something else?

[2019-06-10 15:51] dhonig commented on #121
What do you have  in mind, loading these values from fixtures?  VCR?

[2019-06-10 16:41] ericsaupe commented on #127
For us it was the `shipping_method.name`. We display the `name` on the frontend so it allows editing more easily than having it hard coded. Changing to `shipping_method.internal_name` would have resolved it for us but may still not for others. I used `truncate` in the patch for our site but that can interfere with items that may be set specifically in AvaTax that are taxing based on `itemCode` ins

[2019-06-10 16:45] ericsaupe commented on #126
Something like this would be fine, I'm open to changing the logging text. I just need some way of seeing that something happened in a log file or anywhere I can check and monitor for issues and resolve them quickly.

[code]

[2019-06-10 16:48] dhonig commented on #126
@ericsaupe at one point we used to generate an avatax log.  @acreilly  can tell you what happened to this.  Feel free to send a PR or @acreilly  will tackle this on her next cycle of maintenance.

[2019-06-10 16:50] ericsaupe commented on #126
The avatax log is still there, the code above would use that afaik

[2019-06-10 16:51] dhonig commented on #126
K: couldn't remember if we removed that log. thanks.

[2019-06-10 17:30] aldesantis commented on #121
@dhonig not sure at this point. I think we could just allow users to specify an address-sales tax mapping, something simple that will just allow them to perform the checkout flow, and then for anything more complex they can mock the method calls or use VCR as usual.

[2019-08-27 12:50] #122 closed

[2019-08-27 20:53] aldesantis opened #133 "Remove PreferenceSeeder"
Since preferences aren't read from the DB anymore, this class is basically useless. This should probably be done in conjunction with or after #123.

[2019-09-05 12:09] #123 closed

[2019-09-05 12:10] #133 closed

[2019-09-05 14:18] aldesantis opened #146 "Test Rake tasks"
So that [this](https://github.com/boomerdigital/solidus_avatax_certified/pull/145) doesn't happen again.

[2019-11-06 16:32] acreilly commented on #126
Is this not functioning properly for logging errors?
https://github.com/boomerdigital/solidus_avatax_certified/blob/master/app/models/tax_svc.rb#L48-L59

[2019-12-20 17:25] kbaum opened #153 "Faraday standard error being swallowed"
Ran into this error:

[code]

I have not been able to reproduce it again as it seems related to an error being raised from avatax api that is no longer happening. From what I can see, validate_address is trapping the exception and changing the request to point at a Hash.

[code]

Then handle_response calls `response.result`

[code]

This calls faraday.body but now faraday is pointing at a Hash and

[2020-01-08 23:50] skukx opened #155 "Finalized Tax Adjustments Being Altered"
When tax is finalized, it is still getting changed when adding a new adjustment.

The expectation would be that when tax is finalized it doesn't change. However if it is not finalized, it should change.

To recreate:
- Create and complete an order
- Go to admin and view the adjustments on the order
- Adjustments should all be finalized
- Create a new adjustment for any amount.
- Save and finalize

[2020-01-17 23:50] skukx commented on #155
Closing since this is more of an issue with Solidus than the gem

[2020-01-17 23:50] #155 closed

[2020-02-24 11:36] RajeswariMK opened #157 "401 unauthorised issue from test connection in admin"
Hi all,

I am using this gem with Solidus 2.10.0 and configured with the Avatax trial account. Below are the app details.
Rails version: 5.2.4
Ruby version: 2.6.0

Once it is configured, from the admin portal of Solidus, whenever I try to check the "Test Connection", it is always showing the below error.
![Selection_743](https://user-images.githubusercontent.com/929753/75149238-867e8100-5727-11ea-

[2021-12-16 19:08] tmtrademarked opened #167 "undefined local variable or method `default_environment' for Spree::AvataxConfiguration:Class (NameError)"
When working through the setup instructions, after installing the gem and running the migrations, I'm getting the following error when attempting to start my application:
[code]

I've created an initializer that looks like the following:
[code]

But from what I can tell, the problem *seems* to be that `Spree::AvataxConfiguration` is attempting to call `default_environment` as a class method, when

[2021-12-16 19:11] tmtrademarked commented on #167
I suspect this may have been a change in behavior in Solidus 3.1, based on the warning messages I'm seeing. I guess the question is whether this gem is intending to support 3.1+, and if so, how we'd have to change this proc.

[code]

[2022-03-24 08:19] filippoliverani opened #173 "Zeitwerk LoadError after upgrading to 32d487f"
Ruby version: 3.1.1
Rails version: 6.1.4.7
Solidus version: 3.1.5

After upgrading the gem to rev `32d487f` when running Avatax initializer:

[code]
I get this `LoadError`:

`LoadError: Unable to autoload constant Spree::Avatax::Config, expected /usr/local/lib/ruby/gems/3.1.0/bundler/gems/solidus_avatax_certified-32d487f45097/lib/spree/avatax/config.rb to define it`

@DanielePalombo It's probably

[2022-05-03 14:18] tmtrademarked opened #175 "New release?"
There's been a fair amount of development on this gem in the past few years, but no official releases. Is there any chance of getting an update on the future release plan for this gem? It would be nice to not have to rely on various random SHAs for integrations and be able to have actual versioned releases published. (Obviously not the most important, since we can continue to work around it! But s

[2022-05-26 18:31] dhonig commented on #175
We can look into this for this quarter.  Thanks for your feedback!

[2022-06-01 23:06] tmtrademarked opened #176 "Order.avalara_tax_enabled isn't respected in tax calculator"
It looks like there may be a slight design flaw here - but before I open a PR to attempt to fix this, I'm curious whether or not this is truly intentional. So I figured I'd open an issue and see what others thought.

From what I can tell, there's a method on an order called `avalara_tax_enabled?` defined [here](https://github.com/boomerdigital/solidus_avatax_certified/blob/master/app/decorators/mo

[2022-06-03 11:09] MassimilianoLattanzio commented on #176
That line was introduced by [this commit](https://github.com/boomerdigital/solidus_avatax_certified/commit/6ac9a369c559d2dc772be51b8dbb9cd9ec41fb58). Previously, the method `avalara_tax_enabled?` was called `avalara_eligible?` but was not used. In my opinion, I think it's just an oversight. Anyway, I think it's reasonable to align also that to use the `avalara_tax_enabled?` method.

[2022-06-03 11:11] MassimilianoLattanzio commented on #176
Additionally, the `avalara_tax_enabled?` Method is replicated in many different models, so maybe it's better to refactor the code to centralize the method in a single place?